@charset "UTF-8";

:root {
    /* primary color */
    --button-bg-dark-orrange: hsl(25, 97%, 53%);
    
       

    /* Neutral */
    --heading-white: hsl(0, 0%, 100%);  /* (main heading, stats) */
    --light-grey: hsl(217, 12%, 63%);     /*paragraph text*/
    --medium-grey:hsl(216, 12%, 54%);    /* (paragraph text) */
    --dark-bg-blue: hsl(213, 19%, 18%);   /* Main card background*/
    --very-dark-blue: hsl(216, 12%, 8%) ;    /* overlay*/
    

    /* font family */
    --ff-text: 'Overpass', sans-serif;


}


* {
  margin:0;
  padding:0;
  box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    font-family: var(--ff-text);
    width:100%;
    height: 100vh;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: var(--very-dark-blue);

    border: 1px solid green;
    
}

img {
    max-width: 100%;
    
    
    
    
}
/* .main{
    max-width: 70%
} */

.star-logo {
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* border: 0.5px solid; */
    margin-bottom: 1em;
    background-color: hsl(212, 23%, 24%);
    
} 

.wrapper{
    /* position: absolute;
    top: 25%;
    left: 35%; */
    margin: 10em auto;
    /* max-width: 28%; */
    /* margin: 10em auto; */
    border-radius: 1.5em;
    background: var(--dark-bg-blue);
    padding: 1.5em;
    
}

h1, h2{
    color:var(--heading-white);
    
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 1em;

}

p {
    color:var(--light-grey);
    font-family: 'Overpass',sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

nav {
    margin-top: 24px;
    margin-bottom: 32px;
}
ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    color: var(--heading-white);
    
}

li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 23%, 24%);
    
    /* font-family: 'Overpass'; */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;


    
}



li:hover{
    background-color: var(--medium-grey);

}


li:active {
    background-color: var(--button-bg-dark-orrange);
    
}


.button-class {
    width: 97%;
    text-align: center;
    height: 3.5em ;
    border-radius: 2em;
    border:1px solid black;
    background-color: var(--button-bg-dark-orrange);
    color: var(--heading-white);
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2px;


    

}

.button-class:active {
    background-color: var(--heading-white);
    color: var(--button-bg-dark-orrange);
}

.hidden{
    display: none;
}

.bottom-card {
    margin-top: 2.5em;
    text-align: center;
    border-radius: 1px;
    position: absolute;
    /* top: 20%;
    left: 37%; */
    top: 9em;
    left: 37.5%;
    /* transform: translate(-50%, -50%); */
    width: 420px;
    /* min-width:400px; */
    /* height: 400px; */

    background: var(--dark-bg-blue);
    padding: 1.5em;
    border-radius: 1.5em;
    /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
    z-index: 10;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--very-dark-blue);
    /* backdrop-filter: blur(3px); */
    z-index: 5;
}

h2 {
    text-align: center;
}

.response{
    text-align: center;
    margin: 2em auto;
    color:var(--button-bg-dark-orrange);
    font-family: Overpass;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    
    background-color: hsl(212, 23%, 24%);
    border-radius: 2em;
    max-width: 70%;
    padding: 0.5em;
    


}


@media screen and (min-width:475px) {

    .wrapper{
        width: 80%;
        max-width: 420px;
        
    }

    
    
}
